# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node packages
node_modules/
frontend/node_modules/

# Build files
dist/
dist-ssr/
frontend/dist/

# Python cache
__pycache__/
*.pyc

# Environments
.env
venv/
.venv/

# Local config
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# OS files
Thumbs.db

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
